In [147]:
import random
import datetime
import numpy as np
import pandas as pd
from scipy.stats import hypergeom
import matplotlib.pyplot as plt

draws = ["1 Yotta", "1 Normal 1 Yotta", "3 Normal", "2 Normal, 1 Yotta", "3 Normal, 1 Yotta", "4 Normal",
            "4 Normal, 1 Yotta", "5 Normal", "5 Normal, 1 Yotta", "6 Normal", "6 Normal, 1 Yotta"]

# Dollar amount won from each prize level
prizes = [.1, .15, .25, .6, 7, 10, 1000, 1500, 5000, 37990, 5800000]

# Odds of a single ticket winning each prize
odds = [hypergeom(70, 6, 6).pmf(0) / 63, hypergeom(70, 6, 6).pmf(1) / 63, 62*hypergeom(70, 6, 6).pmf(3) / 63,
           hypergeom(70, 6, 6).pmf(2) / 63, hypergeom(70, 6, 6).pmf(3) / 63, 62*hypergeom(70, 6, 6).pmf(4) / 63,
           hypergeom(70, 6, 6).pmf(4) / 63, 62*hypergeom(70, 6, 6).pmf(5) / 63, hypergeom(70, 6, 6).pmf(5) / 63,
           62*hypergeom(70, 6, 6).pmf(6) / 63, hypergeom(70, 6, 6).pmf(6) / 63]

# First number indicates number of normal balls matched, second number indicates if Yotta ball matched
tuples = [(0, 1), (1, 1), (3, 0), (2, 1), (3, 1), (4, 0), (4, 1), (5, 0), (5, 1), (6, 0), (6, 1)]

# Organize into dataframe
df = pd.DataFrame({"Match": draws, "Prize": prizes, "Odds": odds, "Tuple": tuples})
prize_dict = df[["Tuple", "Prize"]].set_index("Tuple").to_dict()['Prize']

df

                Match       Prize          Odds   Tuple
0             1 Yotta        0.10  9.076463e-03  (0, 1)
1    1 Normal 1 Yotta        0.15  5.538181e-03  (1, 1)
2            3 Normal        0.25  6.254412e-03  (3, 0)
3   2 Normal, 1 Yotta        0.60  1.153788e-03  (2, 1)
4   3 Normal, 1 Yotta        7.00  1.008776e-04  (3, 1)
5            4 Normal       10.00  2.269746e-04  (4, 0)
6   4 Normal, 1 Yotta     1000.00  3.660881e-06  (4, 1)
7            5 Normal     1500.00  2.882217e-06  (5, 0)
8   5 Normal, 1 Yotta     5000.00  4.648738e-08  (5, 1)
9            6 Normal    37990.00  7.505774e-09  (6, 0)
10  6 Normal, 1 Yotta  5800000.00  1.210609e-10  (6, 1)

In [151]:
apy = 0.002
monthlyAPY = (1+apy)**(1/12)-1

initial_balance = 25000
date = datetime.datetime(2021, 1, 1)
prev_month = None

balance = initial_balance
for i in range(5200):
    n_tickets = balance // 25
    balance += (np.random.multinomial(n_tickets, [0.9776427082225456] + list(df["Odds"])) * np.append(0, df["Prize"])).sum()
    date += datetime.timedelta(days=7)
    if date.month != prev_month:
        balance *= (1+monthlyAPY)

balance

time = date.year - 2021 + date.month / 12
x = (balance / initial_balance)**(1/time)
x

1.0416759930178792